<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.1.xsd
		">


	<mvc:annotation-driven />

	<!-- 配置所有Controller的扫描 -->
	<context:component-scan base-package="com.slf.wx.advice"></context:component-scan>
	<context:component-scan base-package="com.slf.wx.user.controller"></context:component-scan>
	<context:component-scan base-package="com.slf.wx.product.controller"></context:component-scan>
	<context:component-scan base-package="com.slf.wx.order.controller"></context:component-scan>
	<context:component-scan base-package="com.slf.wx.pay.controller"></context:component-scan>
	<context:component-scan base-package="com.slf.wx.district.controller"></context:component-scan>
	<context:component-scan base-package="com.slf.wx.email.controller"></context:component-scan>
	<context:component-scan base-package="com.slf.wx.manage.controller"></context:component-scan>


	<mvc:interceptors>
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />
		<!--进行登录控制的拦截器 -->
		<mvc:interceptor>
			<mvc:mapping path="/order/**" />
			<mvc:mapping path="/wxPay/unifiedorder" />
			<mvc:mapping path="/wxPay/beginPay" />
			<mvc:exclude-mapping path="/user/**" />
			<bean class="com.slf.wx.interceptors.SignInInterceptor" />
		</mvc:interceptor> 
		<mvc:interceptor>
			<mvc:mapping path="/manage/**" />
			<mvc:exclude-mapping path="/manage/login" />
			<mvc:exclude-mapping path="/manage/doLogin" />
			<bean class="com.slf.wx.interceptors.AdminInterceptors" />
		</mvc:interceptor> 
	</mvc:interceptors>

	
	<bean
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="mediaTypes">
			<map>
				<entry key="json" value="application/json" />
				<entry key="html" value="text/html" />
			</map>
		</property>
		<property name="viewResolvers">
			<list>
				<bean class="org.springframework.web.servlet.view.BeanNameViewResolver" />
				<bean
					class="org.springframework.web.servlet.view.InternalResourceViewResolver">
					<property name="viewClass"
						value="org.springframework.web.servlet.view.JstlView" />
					<property name="prefix" value="/WEB-INF/views/" />
					<property name="suffix" value=".jsp" />

				</bean>
			</list>
		</property>

	</bean>

	<bean
		class="org.springframework.web.servlet.view.json.MappingJackson2JsonView" />

	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="order" value="1" />
		<property name="messageConverters">
			<list>
				<bean
					class="org.springframework.http.converter.BufferedImageHttpMessageConverter" />
			</list>
		</property>
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

		<!-- one of the properties available; the maximum file size in bytes -->
		<property name="maxUploadSize" value="1000000000" />
	</bean>

	<mvc:default-servlet-handler />

	<!-- <mvc:resources location="/resources/" mapping="/resources/**"/> -->


</beans>